*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    float: left;
}

#image{
    background-color: black;
    height: 5em;
}